    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Navbar brand -->

        <a class="navbar-brand" href="#">Dasboard</a> 
        <i class=" fa fa-power-off fa-beat title" (click)="Logout()" ></i>
      <!-- Container wrapper -->
        </div>
    </nav>
 

  <div class="content"  style="padding-left:30%">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-item nav-link active" id="homeid" data-bs-toggle="tab"  data-bs-target="#hometab"  role="tab"
        aria-controls="hometab" aria-selected="true" (click)="Tabchange('hometab')"><label style="color: #0D6EFD;"><i class="fa fa-home me-1" aria-hidden="true"></i>Home</label></a>  </li>
      <li class="nav-item" role="presentation">
        <a class="nav-item nav-link" id="contactid" data-bs-toggle="tab"   data-bs-target="#contacttab"  role="tab"
                aria-controls="contacttab" (click)="Tabchange('contacttab')" aria-selected="false"><label style="color: #0D6EFD;"><i class="fa fa-phone me-1" aria-hidden="true"></i>Contact</label></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-item nav-link" id="profileid" data-bs-toggle="tab"  data-bs-target="#profiletab"  role="tab"
        aria-controls="profiletab" (click)="Tabchange('profiletab')" aria-selected="false"><label style="color: #0D6EFD;"><i class="fa fa-user me-1" aria-hidden="true"></i>Profile</label></a>
      </li>
    </ul>
    
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="hometab" role="tabpanel" aria-labelledby="homeid">
          <app-home *ngIf="tabmodal.ishome" [inputhome]="home"
            (outputboolean)="outputfromtab($event)"></app-home>
      </div>
      <div class="tab-pane fade" id="profiletab" role="tabpanel" aria-labelledby="profileid">
        <app-profile *ngIf="tabmodal.isprofile"  [inputprofile]="profile"
        (outputboolean)="outputfromtab($event)"></app-profile>
      </div>
      <div class="tab-pane fade" id="contacttab" role="tabpanel" aria-labelledby="contactid">
        <app-contact *ngIf="tabmodal.iscontact" [inputcontact]="contact"
        (outputboolean)="outputfromtab($event)"></app-contact>
      </div>
    </div>
  </div>



